/* Min : >=  */
/* Max : <=  */


/* PC: >=1024px */
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    /* .container__description-icon.desc-img3 {
        top: -22px;
        left: 0;
        width: 52%;
    }
    .container__description-icon.desc-img4 {
        top: 115px;
        left: 180px;
        width: 77%;
    } */
}

/* Tablet: >=740px & <1024px */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__cart-icon {
        margin-top: 26px;
    }
    .header__cart-notice {
        margin-top: 14px;
    }
    .container__description-icon {
        /* width: 40%; */
        /* margin-left: 250px; */
    }
    .container__description-icon.desc-img0 {
        position: absolute;
        top: 0;
        left: 246px;
        width: 198px;
    }
    .container__description-icon.desc-img1 {
        top: 10px;
        left: 214px;
        width: 236px;
    }
    .container__description-icon.desc-img2 {
        position: relative;
        top: -30px;
        left: 270px;
        width: 60%;
    }
    .container__description-icon.desc-img3 {
        position: absolute;
        top: 380px;
        left: 0;
        width: 50%;
    }
    .container__description-icon.desc-img4 {
        top: 130px;
        left: 184px;
        width: 60%;
    }
    .container__description-icon.desc-img5 {
        top: 14px;
        left: 76px;
    }
    .container__description-icon.desc-img6 {
        left: 170px;
    }
    .container__description-icon.desc-img7 {
        left: 126px;
    }
    .container__description-icon.abb {
        position: relative;
        left: 92px;
    }
    .bottom__space {
        height: 140px;
    }
    .box-paganition {
        margin-left: 10px;
    }

    .btn-tote {
        width: 100%;
        margin: 0px 0px 15px;
    }
    /* Footer */
    .footer__content {
        padding: 0 0;
    }
    .footer-item__link {
        justify-content: center;
        padding: 15px 0;
        font-size: 1.1rem;
    }
}

/* Mobile: <740px */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .header {
        overflow: hidden;
    }
    .mt {
        margin-top: 100px;
    }
    .abc {
        position: static;
        width: 100%;
        left: 0px;
        top: 0px;
        font-size: 44px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 400px 0px 4px;
    }
    .btn-box {
        width: 80%;
        height: 50px;
        margin: 20px 50px;
    }
    .container__description.middle {
        left: 27%;
    }
    .container__description-icon.desc-img3 {
        top: -560px;
        width: 47%;
    }
    .container__description-icon.desc-img4 {
        top: 230px;
        left: 0;
        width: 100%;
    }
    .review__customer-icon {
        top: 0;
        display: flex;
    }
    .home-product-item__arrow {
        flex-direction: row;
    }
    .box-paganition {
        margin-left: 8px;
    }
    .bottom__space {
        height: 110px;
    }
    .img-a {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
    }
    .btn-tote {
        width: unset;
        margin: 0px 3px 15px;
    }
    .bottom__space {
        height: 80px;
        padding: 2px;
    }

    .header-item .menu-icon {
        display: block;
    }
    .footer__content {
        padding: 0 16px;
    }
    .footer-item__link {
        justify-content: center;
        padding: 15px 0;
        font-size: 1.1rem;
    }
} 


